<!doctype html>
<html>
<head>
  <title>BB View task 8</title>
<script src="js/underscore-1.4.4.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/json2.js"></script>
<script src="js/backbone-1.0.0.js"></script>

<script id="restaurant-message" type="text/underscore-template">
<div class="rClass rClassClosed">
    <div>
      <h3><%- name %></h3>
      <p>Status: <%- state %></p>
      <p>Total visitors: <%- currentOccupancy %></p>
      <form action="#">
        <div>
          <input type="button" value="Open" onClick="restView.model.restaurantOpen();">
          <input type="button" value="Close" onClick="restView.model.restaurantClose();">
        </div>
          <br><br>
          <input type="button" value="1" onClick="();">
          <input type="button" value="2" onClick="();">
          <input type="button" value="3" onClick="();">
          <input type="button" value="4" onClick="();">
          <input type="button" value="5" onClick="();">
      </form></div>
  </div>
</script>

<script src="my/my-restaurant-model.js"></script>
<style>
.rClass {
  border: solid 1px;
  border-radius: 5px;
  float: left;
  margin: 0; padding: 16px;
  width: 240px; height: 240px;
}

.rClassOpen { border-color: #77CC77; background-color: #CCFFCC; }
.rClassClosing { border-color: #CC8866; background-color: #FFDDBB; }
.rClassClosed { border-color: #999999; background-color: #DDDDDD; }

.rClass input { float: left; padding: 4px 12px; margin: 4px; }

</style>
</head>

<body>

<!--  <div class="rClass rClassClosed">
    <div>
      <h3>Ошибка сапёра</h3>
      <p class="rStatus">Status: closed</p>
      <p>Total visitors</p>
      <form action="#">
        <div>
          <input type="button" value="Open" onClick="restaurantOpen();">
          <input type="button" value="Close" onClick="restaurantClose();">
        </div>
          <br><br>
          <input type="button" value="1" onClick="();">
          <input type="button" value="2" onClick="();">
          <input type="button" value="3" onClick="();">
          <input type="button" value="4" onClick="();">
          <input type="button" value="5" onClick="();">
      </form></div>
  </div> -->

<script>
var restModel = new RestaurantModel({ name: "Ошибка сапёра" });
 var restView = new RestaurantView({ model: restModel });

 $("body").append(restView.el);

 // console.log("el: " + JSON.stringify(restView.el) ); // div element
 console.log("$el: " + restView.$el.show() ); // object
</script>

</body>
</html>